@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
   margin: 0;
   padding: 0;
}

.container {
   background: #0f0c29;
   background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container .form__content {
   width: 35rem;
   background: #fff;
   padding: 20px;
   border-radius: 3px;
}

.container .form__content h1 {
   margin-bottom: 1rem;
   text-align: center;
   color: #17a2b8;
}

.container .form__content .form__group {
   display: inline-block;
   margin-bottom: 2rem;
}

.container .form__content .form__group label {
   text-align: none;
   display: block;
   font-size: 1.2rem;
   font-weight: bold;
}

.container .form__content .form__group input,
.container .form__content .form__group select {
   width: 17rem;
   height: 2.5rem;
   outline: none;
   border: none;
   border-bottom: 2px solid #000;
}

.container .form__content .form__group input:hover,
.container .form__content .form__group select:hover {
   background: #eee;
   border-bottom: 2px solid #17a2b8;
}

.container .form__content .form__group input:focus,
.container .form__content .form__group input:active,
.container .form__content .form__group select:focus,
.container .form__content .form__group select:active {
   border-bottom: 2px solid #17a2b8;
   background: #eee;
}

.container .form__content .form__group #picture {
   border: none;
   background: none;
}

.container .form__content .form__group:nth-child(7) {
   display: block;
}

.container .form__content .btn__group {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container .form__content .btn__group button,
.container .form__content .btn__group a {
   width: 50%;
   height: 2.5rem;
   color: #fff;
   background-color: #28a745;
   border-color: #28a745;
   cursor: pointer;
}

.container .form__content .btn__group a {
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   background: crimson;
   border-color: crimson;
   margin-left: 10px;
   
}

.container .form__content .btn__group a:active {
   border-style: inset;
}

/* ERROR MESSAGE */
.error_message {
   display: block;
   color: red;
   font-size: 1.2rem;
}

/* IMAGE PREVIEW */
.imaPrev__container {
   width: 100px;
}

.imaPrev__container img {
   width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

/* TABLE */
.tbl_container {
   background: linear-gradient(to right, #25c481, #25b7c4);
   font-family: "Roboto", sans-serif;
   min-height: 100vh;
   padding: 50px 50px 0 50px;
}
.tbl_container h1 {
   font-size: 30px;
   color: #fff;
   text-transform: uppercase;
   font-weight: 300;
   text-align: center;
   display: inline-block;
}

.tbl_container .add-btn {
   float: right;
   text-decoration: none;
   border-radius: 5px;
   text-align: center;
   color: #ffffff;
   padding: 10px;
   border: 2px solid #659dab;
   transition: all 0.3s;
   margin-bottom: 20px;
}

.tbl_container .add-btn:hover {
   background: #fff;
   color: #000;
}

.tbl_container .add-btn:active {
   position: relative;
   top: 3px;
}

.tbl_container .tbl {
   width: 100%;
   background: #000;
}

th {
   text-align: center;
   font-weight: 500;
   font-size: 16px;
   color: #fff;
   text-transform: uppercase;
}

td {
   text-align: center;
   font-weight: 300;
   font-size: 15px;
   color: #000;
}

.tbl_container .tbl .edit-btn,
.tbl_container .tbl .del-btn {
   border-radius: 3px;
   color: #ffffff;
   padding: 5px;
   border: solid #337fed 1px;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
}

.tbl_container .tbl .edit-btn:hover,
.tbl_container .tbl .del-btn:hover {
   border: solid #337fed 1px;
   background: #1e62d0;
   text-decoration: none;
}

.tbl_container .tbl .edit-btn {
   background-color: #11e23f;
}

.tbl_container .tbl .del-btn {
   background-color: #f63d3d;
}
